## cpython 
__pycache__

## virtual environment
.venv

## Jetbrains
.idea

## VSCode 
.vscode

## Jypyter notebook
.ipynb_checkpoints

## temporary path 
tmp

## self 
package_check.py
paper_based.py
test*
*.zip

# secret files
secret.py

# tinyDb
db.json
