## cpython 
__pycache__

## virtual environment
.venv/**

## Jetbrains
.idea/**

## VSCode 
.vscode/**

## temporary path 
tmp/bak/**

## self 
package_check.py
paper_based.py
main.py
test*

# secret files
secret.py