## core packages for jupyter notebook
jupyter-core
nbconvert
nbformat
ipykernel

## data reading 
pandas
pandasql-lts
numpy
matplotlib
# postgresql driver, an installed postgresql is required
psycopg2

# ML
scikit-learn
scikit-optimize

# data structure packages
sortedcontainers

# DL
pytorch_tabular