## core packages for jupyter notebook
jupyter-core
nbconvert
nbformat
ipykernel

## data reading 
pandas
pandasql-lts
numpy
matplotlib
# postgresql driver, an installed postgresql is required
psycopg2

# ML
xgboost
scikit-learn
scikit-optimize
tabpfn
GRANDE

# data structure packages
sortedcontainers

# notebook as function 
functionize-notebook

# DL
tensorflow
