## core packages for jupyter notebook
jupyter-core
nbconvert
nbformat
ipykernel

## data reading 
pandas
pandasql
# postgresql driver, an installed postgresql is required
psycopg2
numpy

# ML
scikit-learn
scikit-optimize

# data structure packages
sortedcontainers